{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}
<style>
    body{
        background-color: #fdecec;
    }
    h2 {
        color: black;
    }
</style>

    <div class="container thread" style="padding-top: 30px;">

        <div class="row">
            <div class="">
                <h2>Messages</h2>
                {% if messages %}
                    {% for m in messages %}
                        {% if m.sender == g.user['username'] %}
                            <div style="float: right; text-align: right; width: 100%">
                                <div style="min-width:30%; background-color: cadetblue; padding: 2px 5px; margin-bottom: 5px; width: fit-content; float: right; border-radius: 5px;">
                                    <p style="width: 100%; margin-bottom: 0; text-align: left;">{{ m.message }}<span style="float: right; color: lightgrey; font-size: 0.3rem;">{{ m.dt[-8:-3] }}</span></p>
                                </div>
                            </div>
                        {% else %}
                            <div style="float: left; text-align: left; width: 100%;">
                                <div style="min-width:30%; background-color: cadetblue; padding: 2px 5px; margin-bottom: 5px; width: fit-content; float: left; border-radius: 5px;">
                                    <p style="width: 100%; margin-bottom: 0;">{{ m.message }}<span style="float: right; color: lightgrey; font-size: 0.3rem;">{{ m.dt[-8:-3] }}</span></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No messages found.</p>
                {% endif %}
            </div>
        </div>
        <form method="POST" style="position: fixed; bottom: 15px; width: 90%;">
            <input type="text" name="message" id="message" placeholder="Type your message here" style="width: 80%;">
            <input type="submit" name="submit" id="submit" value="Send">
        </form>
    </div>

{% endblock %}
